@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
	font-family: "Roboto", sans-serif;
	background-color: #f6f6f6;
}

.container {
	border: 1px solid blue;

	/* width: 100%; */
	min-height: 100vh;
}

.cards-container {
	/* border: 1px solid red; */
	width: 90%;
	max-width: 1024px;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.card {
	width: 300px;
	height: 400px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding: 30px 0;
	box-shadow: 0 0 10px -5px rgb(0, 0, 0, 0.8);
}

.card:hover {
	color: white;
	background-color: steelblue;
}

.card:hover .card__cta {
	color: black;
	background-color: white;
}

.card__plan {
	font-size: 0.8rem;
	font-weight: bold;
}

.card__cost {
	font-size: 2rem;
	margin: 0;
}

.card__people {
	font-size: 0.8rem;
	font-weight: 400;
}

ul {
	padding: 0;
}

.card__caracteristicas {
	margin: 10px;
	font-size: 0.8rem;
	font-weight: 400;
}

.card__cta {
	color: white;
	background-color: black;
	text-decoration: none;
	font-size: 0.8rem;
	padding: 15px 30px;
	border-radius: 20px;
}

.card__caracteristicas {
	list-style: none;
}

/* 





.card {
	display: flex;
	flex-direction: column;
	width: 500px;
	min-width: 250px;
	max-width: 500px;
	flex-grow: 1;
	margin: 10px;
	justify-content: space-between;
	padding: 40px 0;
	background-color: #fff;
	box-shadow: 0 0 30px -15px rgb(0, 0, 0, 0.3);
	border-radius: 10px;
	align-items: center;
	text-align: center;
	min-height: 400px;
	margin: 0 10px;
}

.card__texts {
	display: flex;
	flex-direction: column;
	height: 80%;
}

ul {
	padding: 0;
}

.card__cost {
	font-size: 2rem;
	font-weight: bold;
}

.card__plan {
	font-size: 1rem;
	font-weight: bold;
}

.card__caracteristicas {
	padding: 15px 0;
	list-style: none;
	font-size: 0.8rem;
	font-weight: 400;
}

.card__caracteristicas--bold {
	margin-bottom: 10px;
}

.card__cta {
	text-decoration: none;
	background-color: black;
	color: white;
	font-size: 0.8rem;
	padding: 15px 30px;
	border-radius: 30px;
} */
