@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
	--primary-color: #2658e4;
	--font: "Inter", sans-serif;
	--cols: repeat(5, 1fr);
	--rows: repeat(8, 1fr);
}

body {
	font-family: var(--font);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 90%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: var(--cols);
	grid-template-rows: var(--rows);
	padding: 18px 0;
}

.card::before {
	content: "";
	grid-column: 1/-3;
	grid-row: 1/-1;
	background-image: url(./img.jpg);
	background-position: top left;
	background-size: cover;
}

.card__title {
	margin: 0 0 20px 0;
}

.card__content {
	grid-column: 3/-1;
	grid-row: 2/-2;
	background-color: var(--primary-color);
	color: #fff;
	padding: 30px;
}

.card__paragraph {
	line-height: 1.5;
}

.card__cta {
	display: inline-block;
	color: var(--primary-color);
	background-color: #fff;
	font-family: var(--font);
	text-decoration: none;
	margin-top: 20px;
	padding: 18px 45px;
	/* width: 200px; */
	/* text-align: center; */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
	.card__content {
		grid-column: 2/-1;
	}

	.card::before {
		grid-column: 1/-2;
	}
}

@media screen and (max-width: 425px) {
	:root {
		--cols: 1fr;
		--rows: 1fr 1fr;
	}

	.card__content {
		grid-column: 1/-1;
		grid-row: 1/-2;
	}

	.card::before {
		grid-column: 1/-1;
		grid-row: 2/-1;
		background-position: center;
		background-size: cover;
	}
}
