
h2 {
    color: steelblue;
}

nav {
    border: 1px red solid
}

#section {
    border: 1px blue solid
}

.titulo {
    text-align: center;
}

.😁 {
    color: blueviolet;
}

[href] {
    text-decoration: none;
}

[href="https://alexcgdesign.com/inicio"]{
    color: red; 
}

[href^="hsttps"]{
    color: greenyellow
}

[href$="org"]{
    background: orangered;   
}

[href*="alexcgdesign"]{
    background: seagreen;
}