@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
	box-sizing: border-box;
	/* margin: 0; */
	padding: 0;
	/* outline: 1px solid red; */
}

:root {
	--padding-container: 80px 0;
	--color-primary: #f77062;
	--color-secondary: #1b998b;
	--color-bg: #fafafa;
	--align-title: center;
	--box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

body {
	font-family: "Lato", sans-serif;
}

/* Bloques */

.container {
	width: 90%;
	max-width: 1280px;
	overflow: hidden;
	margin: 0 auto;
	padding: var(--padding-container);
}

.title {
	font-size: 2.5rem;
	margin: 0;
	margin-bottom: 40px;
	color: var(--color-primary);
	text-align: var(--align-title);
}

/* Header section*/
.hero {
	background: linear-gradient(to bottom, #ff4e50, #f9d423);
	width: 100%;
	height: 100vh;
}

.hero__main {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.hero__figure {
	width: 45%;
	text-align: center;
	margin: 0;
}

.hero__img {
	width: 90%;
}

.hero__texts {
	width: 45%;
	color: white;
}

.hero__text {
	font-size: 1.5rem;
	font-weight: 300;
	margin: 20px 0;
}

.hero__text--title {
	font-size: 4rem;
	font-weight: 700;
	margin: 0;
}

/* About section */
.about {
	background-color: white;
}

.about__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.about__texts {
	width: 50%;
	--align-title: left;
}

.about__figure {
	width: 45%;
	text-align: center;
	margin: 0;
}

.about__img {
	width: 80%;
}

.about__paragraph {
	line-height: 1.5;
}

.about__cta {
	display: inline-block;
	margin-top: 20px;
	background-color: var(--color-primary);
	color: white;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 30px;
}

/* portfolio section */

.portfolio {
	background-color: var(--color-bg);
}

.portfolio__cards {
	display: flex;
	justify-content: space-evenly;
	padding: 40px 0;
	flex-wrap: wrap;
	gap: 30px;
}

.card-item {
	width: 27%;
	min-width: 250px;
	background-color: #fff;
	box-shadow: var(--box-shadow);
	border-radius: 15px;
	overflow: hidden;
}

.card__figure {
	text-align: center;
	width: 100%;
	margin: 0;
}
.card__img {
	width: 100%;
	height: 200px;
	margin: 0;
	object-fit: cover;
}

.card__title {
	font-size: 1.5rem;
	color: var(--color-secondary);
	text-align: center;
	margin: 0;
}

.card__texts {
	padding: 30px 20px 40px;
}

.card__paragraph {
	font-weight: 300;
	margin: 30px 0;
}

.card__cta {
	display: block;
	background-color: var(--color-secondary);
	padding: 15px 0px;
	border-radius: 30px;
	text-align: center;
	color: white;
	font-weight: 300;
	text-decoration: none;
}

.dream-title {
	background-color: var(--color-primary);
	color: white;
	padding: 80px 0;
	margin: 0;
}

.gallery__cards {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	flex-wrap: wrap;
	padding: 30px 0;
}

.gallery-card__img {
	width: 30%;
	height: 250px;
	margin-bottom: 20px;
	box-shadow: var(--box-shadow);
	border-radius: 5px;
	object-fit: cover;
}

.languages {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.languages__img {
	width: 20%;
	height: 100px;
}

/* Section Footer */

.footer {
	background: var(--color-primary);
	color: #fff;
	text-align: center;
}

.footer-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.footer__figure {
	width: 35%;
	margin: 0;
}

.footer__img {
	width: 90%;
	height: 100%;
}

.contactanos {
	width: 50%;
	color: white;
}

.contactanos__title {
	color: white;
}

.fa-brands {
	display: inline-block;
	font-size: 2rem;
	margin: 0 30px 30px;
	text-decoration: none;
	color: #fff;
	width: 60px;
	height: 60px;
	border: 1px solid;
	border-radius: 50%;
}

.fa-brands:hover {
	background-color: #fff;
	color: var(--color-primary);
}

.fab.fa-brands {
	line-height: 60px;
}

.contactanos__links {
	margin-bottom: 15px;
}
.contactanos__link {
	display: inline-block;
	color: white;
	margin: 0 20px 15px;
}

.contactanos__link:hover {
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.hero {
		height: auto;
		min-height: 100vh;
		--padding-container: 40px 0;
	}

	.hero__main {
		justify-content: center;
	}

	.hero__figure {
		width: 60%;
		margin-bottom: 30px;
	}

	.hero__img {
		max-width: 85%;
	}

	.hero__texts {
		width: 100%;
	}

	.hero__text--title {
		font-size: 3.5rem;
	}

	/* About section */

	.about__main {
	}

	.about__figure {
		width: 100%;
	}

	.about__texts {
		width: 90%;
		text-align: left;
		margin: 0 auto 80px;
		--align-title: center;
	}

	.about__cta {
		display: block;
		margin: 50px auto 0;
		width: 200px;
		text-align: center;
	}

	/* Gallery Section */

	.dream-title {
		padding: 80px 40px;
		margin: 0;
	}

	.gallery__cards {
		gap: 20px;
		padding: 30px 20px;
	}

	.gallery-card__img {
		min-width: 250px;
		flex-grow: 1;
		margin: 0;
	}

	/* section Languages */

	.languages {
		justify-content: space-between;
	}

	/* section Footer */

	.footer__figure {
		width: 100%;
		margin: 0 auto 30px;
	}

	.footer__img {
		width: 70%;
	}

	.contactanos {
		width: 100%;
	}
	.contactanos__title {
		font-size: 2.2rem;
	}
}
