@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
	--primary-color: #cc021c;
	--font: "Inter", sans-serif;
	--weight: 300;
	--cols: repeat(5, 1fr);
	--rows: repeat(8, 1fr);
}

body {
	font-family: var(--font);
	font-weight: var(--weight);
	height: 100vh;
}

.cards-container {
	width: 88%;
	margin: 50px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 40px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.card::before {
	content: "";
	display: block;
	width: 100%;
	height: 200px;
	background-image: url(./img/1.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 10px 10px 0 0;
}

.text {
	padding: 30px 5px;
	display: flex;
	flex-direction: column;
}

.second::before {
	background-image: url(./img/2.jpg);
}

.third::before {
	background-image: url(./img/3.jpg);
}

.card__title {
	margin: 0px 0 10px 0;
	font-size: 1.5rem;
}

.text {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card__paragraph {
	text-align: start;
	padding: 0 20px;
	line-height: 1.2;
	margin-bottom: auto;
}

.card__cta {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-weight: 400;
	background-color: var(--primary-color);
	padding: 15px 30px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 50px;
}
