@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.nav{
    background-color: rgba(7, 48, 68, 0.999);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10%;
}

.nav__titulo-nombre{
    font-size: 1.7rem;
    font-weight: 700;
}

.nav__enlace{
    display: inline-block;
    margin-left: 20px;
    list-style: none;
    font-size: 1.2rem;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    height: 90%;
    min-width: 1064px;
    min-height: 520px;
}

.main__container-text{
    flex-basis: 50%;
}

.main__titulo{
    width: 80%;
    margin-bottom: 5px;
    font-size: 50px;
}


.main__copy{
    width: 80%;
    margin-bottom: 20px;
    font-size: 25px;


}

.main__button{
    background-color: #6c63ff;
    color: white;
    padding: 20px 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    

}

.main__image{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

.main__image img{
    width: 70%;
    height: 70%;

}

