* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.grid {
	width: 90%;
	max-width: 600px;
	height: 600px;
	margin: 30px auto;
	outline: 3px solid #000;
	display: grid;
	grid-template-columns: [uno] 1fr [dos] 1fr [tres centro-col] 1fr [cuatro] 2fr [fin-cols];
	grid-template-rows: [primera] 1fr [segunda] 1fr [tercera centro-row] 1fr [cuarta] 1fr [fin-rows];
}

.grid__item {
	padding: 20px;
	font-size: 2rem;
	color: #fff;
	text-align: center;
}

.grid :nth-child(1) {
	background-color: slateblue;
	grid-row: primera/fin-rows;
	grid-column: dos/tres;
}

.grid :nth-child(2) {
	background-color: crimson;
	grid-column: centro-col/fin-cols;
	/* grid-row: segunda/fin-rows; */
}

.grid :nth-child(3) {
	background-color: coral;
	grid-column: uno/cuatro;
	grid-row: segunda/fin-rows;
}

.grid :nth-child(4) {
	background-color: indigo;
	grid-column: cuatro/fin-cols;
	grid-row: segunda/fin-rows;
}
