* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.grid {
	width: 90%;
	max-width: 700px;
	height: 600px;
	outline: 3px solid #000;
	margin: 10px auto;
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(5, 20%);
	grid-template-areas:
		"header header header header header"
		"main main main main sidebar"
		"main main main main sidebar"
		"main main main main sidebar"
		"footer footer footer footer footer";
}

.grid__item {
	font-size: 2rem;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	background-color: crimson;
	grid-area: header;
}

.main {
	background-color: steelblue;
	grid-area: main;
}

.sidebar {
	background-color: purple;
	grid-area: sidebar;
}

.footer {
	background-color: chocolate;
	grid-area: footer;
}

@media screen and (max-width: 800px) {
	.grid {
		grid-template-areas:
			"header header header header header"
			"main main main sidebar sidebar"
			"main main main sidebar sidebar"
			"main main main sidebar sidebar"
			"footer footer footer footer footer";
	}
}

@media screen and (max-width: 500px) {
	.grid {
		grid-template-rows: repeat(4, 1fr);

		grid-template-areas:
			"header header header header header"
			"main main main main main"
			"sidebar sidebar sidebar sidebar sidebar"
			"footer footer footer footer footer";
	}
}
